<div class="sorting">
    Sorting by
    <button mat-button (click)="sortingService.sortByDate()">date</button>
    <span>
        <mat-icon *ngIf="sortingService.sortedFlagByDate === 'normal'; else elseBlock">
            vertical_align_bottom</mat-icon
        >
    </span>
    <ng-template #elseBlock> <mat-icon> vertical_align_top</mat-icon></ng-template>
    <button mat-button (click)="sortingService.sortByCountViews()">count of views</button>
    <span>
        <mat-icon
            *ngIf="sortingService.sortedFlagByCountViews === 'normal'; else elseBlock"
        >
            vertical_align_bottom</mat-icon
        >
    </span>
    <ng-template #elseBlock> <mat-icon> vertical_align_top</mat-icon></ng-template>
    <span>by word or sentance &nbsp;</span>
    <input type="text" [(ngModel)]="keywords" (input)="getWord()" />
</div>
