.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin: 0 auto;
  height: 4em;
  width: 80vw;
}

.header__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40vw;
}

.header__login {
  margin: auto auto;
}

.header__filterButton {
  height: 2em;
  cursor: pointer;
}
