<header class="header">
  <div class="header__wrap">
    <img class="header__logo" src={{logo}} alt="logo">
    <mat-form-field class="header__search-field" appearance="fill">
      <mat-label>{{this.inputPlaceholder}}</mat-label>
      <input matInput type="text" required>
    </mat-form-field>
    <button mat-raised-button color="primary" aria-label="Filter" (click)="showSearchResult()">
      search
    </button>
    <img class="header__filterButton" src={{filterButton}} alt="logo" (click)="toggleFilter()">
  </div>
  <div class="header__login login">
    <span class="login__name">{{this.userName}}</span>
    <img class="login__avatar" src={{avatar}} alt="logo">
  </div>
</header>
<div *ngIf="this.showFilter">
  <app-sorting></app-sorting>
</div>
<div *ngIf="this.searchActive">
  <app-search-results></app-search-results>
</div>
